.image {
	width: 100%;
	border: 5px solid rgba(0, 0, 0, 0.1);
}

.image--left {
	max-width: 400px;
	float: left;
	margin: 0 30px 15px 0;
}

.image--right {
	max-width: 400px;
	float: right;
	margin: 0 0 15px 30px;
}
