// BARVY
$primary:				#ff6347;
$secondary:			#b9b9b9;
$bg-color:			#e5e5e5;

// FONTY
$font-default:	'Raleway', sans-serif;
$font-special: 	'Oswald', sans-serif;

// výchozí rozestup
$pad:						30px;