{% include 'partials/page-top.njk' %}

	<main class="main">

		{% if title === 'Kontakt' %}

		<hr>
		<h3>Jsme na stránce s kontaktem. Jupííí</h3>

		{% endif %}



		{{ content | safe }}

	</main>

{% include 'partials/page-bottom.njk' %}